body {
    background-color: gray;

}

main {
    /* border: 10px solid green; */
    width: 1100px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
}

.headerbar {
    display: flex;
    background-color: black;
    color: white;
    height: 500px;
}

.headblog {
    width: 50%;

}

.headblog img {
    height: 460px;
    margin-top: 40px;

}

.headblog h1 {
    font-size: 50px;
    font-weight: 700;
}

.head-text-details {
    padding-left: 100px;
    padding-right: 40px;
}

button {
    background-color: red;
    padding: 5px 25px;
    color: white;

}

.match-group-blog {
    margin-top: 50px;
    display: flex;
    padding: 15px;
    width: 100%;

}

.transfer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

.article {
    width: 90%;
    border: 1px solid gray;

}

.article img {
    width: 100%;
}

.details {
    margin-left: 15px;
}

.match-menu {
    background-color: black;
    height: 200px;
    width: 300px;
    color: white;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.match-menu h3 {
    background-color: white;
    width: 200px;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 6px;
}

#blogbg {
    background-color: red;
    color: white;
}

.hour,
.massage {
    margin: 0 10px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}

.menubar ul {
    display: flex;

}

.menubar ul>li {
    list-style: none;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400px;

}

hr {
    width: 500px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    outline: none;
    text-align: center;
}

.viewall {
    display: none;
}


/*.................
 Media Queries 
...................*/
/*.................
 Mobile Device 
...................*/
@media only screen and (max-width:687px) {

    main {
        width: 687px;
    }

    .headerbar {
        align-items: center;
        flex-direction: column;
        overflow: scroll;
    }

    .match-group-blog {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .match-menu {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 500px;
        margin-bottom: 50px;
        background-color: white;
        border: 1px solid black;

    }

    .match-menu h3 {
        margin: 0 10px;
    }

    .transfer-grid {
        display: flex;
        flex-direction: column;
    }

    .viewall {
        display: block;
        text-align: center;
        margin: 50px;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}


/*.................
 Tablet Device 
...................*/
@media screen and (min-width: 768px) and (max-width: 992px) {

    main {
        width: 992px;
    }



    .match-group-blog {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .match-menu {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 992px;
        margin-bottom: 50px;
        background-color: white;
        border: 1px solid black;

    }

    .match-menu h3 {
        margin: 0 10px;
    }

    .transfer-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .viewall {
        display: block;
        text-align: center;
        margin: 50px;
    }


}